aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
lyricsgenius
motor
numpy
OpsAi
pillow==9.5.0
psutil
git+https://github.com/RBWFMUSICRJ0143/pytgcalls
ntgcalls==1.1.2
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
search-engine-parser
speedtest-cli
spotipy
telegraph
tgcrypto
yt-dlp==2023.10.13
pornhub-api==0.3.0
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main
gtts
youtube_search
youtube-search-python
git+https://github.com/AsmSafone/SafoneAPI
